<!-- <h1>Login</h1>
<form action="login" method="POST">
  <div>
    <label for="email"> Email</label>
    <input type="text" id="email" name="email" required />
  </div>
  <div>
    <label for="password"> Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <input type="submit" value="Login" />
</form>
<div id="google-log"><a href="auth/google">Google</a></div>
<div id="facebook-log"><a href="/auth/facebook">Login with Facebook</a></div> -->

<!DOCTYPE html>

<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- <div id="fb-root"></div> -->
    <main class="login-main">
      <div class="container">
        <h2 class="blue-text text-darken-2 center-align">
          <i class="material-icons medium">lock</i> Login
        </h2>
      </div>

      <div class="container blue-text">
        <form action="/login" method="POST">
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email" id="email" name="email" />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" id="password" name="password" />
            <label for="password">Password</label>
          </div>
          <div class="input-field center">
            <input
              class="btn blue white-text btn-medium"
              type="submit"
              value="submit"
            />
          </div>
          <div class="input-field center">
            <a href="auth/google"
              ><img src="images/google1.png" alt="" class="g-img"
            /></a>
          </div>
          <div class="input-field center">
            <a href="auth/facebook"
              ><img src="images/facebook1.png" alt="" class="f-img"
            /></a>
          </div>
        </form>
      </div>
    </main>

    <!-- <div class="container blue-text center-align"> -->

    <!-- </div> -->

    <script src="" async defer></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      src="https://apis.google.com/js/platform.js?onload=renderButton"
      async
      defer
    ></script>
    <script>
      function renderButton() {
        gapi.signin2.render("my-signin2", {
          scope: "profile email",
          width: 240,
          height: 50,
          longtitle: true,
          theme: "dark",
          onsuccess: onSuccess,
          onfailure: onFailure,
        });
      }
    </script>
  </body>
</html>
